<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<select id="boardList" resultType="Board">
		select * from second_goods
		where SG_STATUS='N'
		order by SG_ID desc
	</select>
	
	<select id="getAuctionListCount" resultType="_int">
		select count(*) from second_goods where sg_status='N'
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		
INSERT INTO SECOND_GOODS VALUES
(SEQ_SG.NEXTVAL,'admin','SG',#{SG_BNAME},'운영자','TEST태그1',#{SG_PRICE},default,#{SG_INFO},DEFAULT,SYSDATE,SYSDATE,DEFAULT,SYSDATE)
	</insert>
	
	<insert id="attachmentInsert" parameterType="Attachment">
	
INSERT INTO ADD_FILE VALUES(SEQ_FILE.NEXTVAL, (SELECT MAX(SG_ID) FROM SECOND_GOODS) , #{ORIGINALFILENAME},  #{RENAMEFILENAME}, sysdate,sysdate,default)
	</insert>

</mapper>
