<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gMapper">

	<insert id="insertGesipan" parameterType="Gesipan">
		insert into Gesipan
		values(seq_gesipan.nextval, #{g_category}, #{g_title}, #{g_content}, #{g_writer}, #{g_count}, default, default, seq_gesipan.nextval, default, #{locked}, #{g_pwd}, default, default)
	</insert>
	
	<insert id="reInsert" parameterType="Gesipan">
		insert into Gesipan
		values(seq_gesipan.nextval, #{g_category}, #{g_title}, #{g_content}, #{g_writer}, #{g_count}, default, default, #{g_ref}, default, #{locked}, #{g_pwd}, 1, default)
	</insert>
	
	<select id="selectListCount" resultType="_int" parameterType="String">
		select count(*)
		from gesipan
		where g_status='N' and g_category=#{category}
	</select>

	<select id="selectGesipanList" resultType="Gesipan" parameterType="String">
		select g.*, m.nickname
		from gesipan g
		join member m on(g.g_writer = m.user_id)
		where g_status='N' and g_category = #{category}
		order by g_type desc, g_ref desc, g_order asc
	</select>

	<select id="selectSearchListCount" resultType="_int" parameterType="map">
		select count(*)
		from gesipan g
		join member m on(g.g_writer = m.user_id)
		where g_status='N' and g_category= #{category}
		<choose>
			<when test="searchfor.equals('title')">
				and g_title like '%' || #{keyword} || '%'
			</when>
			<when test="searchfor.equals('writer')">
				and nickname like '%' || #{keyword} || '%'
			</when>
		</choose>
		order by g_id desc
	</select>
	
	<select id="selectSearchList" resultType="Gesipan" parameterType="map">
		select g.*, m.nickname
		from gesipan g
		join member m on(g.g_writer = m.user_id)
		where g_status='N' and g_category=#{category}
		<choose>
			<when test="searchfor.equals('title')">
				and g_title like '%' || #{keyword} || '%'
			</when>
			<when test="searchfor.equals('writer')">
				and nickname like '%' || #{keyword} || '%'
			</when>
		</choose>
		order by g_type desc, g_ref desc, g_order asc
	</select>
	
	<select id="selectGesipan" resultType="Gesipan" parameterType="_int">
		select g.*, m.nickname 
		from gesipan g
		join member m on(g.g_writer = m.user_id)
		where g_status='N' and g_id = #{g_id}
	</select>
	
	<update id="addReadCount" parameterType="_int">
		update gesipan
		set g_count = g_count + 1
		where g_id = #{ g_id }
	</update>
	
	<select id="selectReplyList" resultType="gReply" parameterType="_int">
		select * 
		from g_reply r
		join gesipan g on(g.g_id = r.g_ref)
		where r.g_ref = #{ g_ref }
		order by g_reply_id desc
	</select>
	
	<insert id="insertReply" parameterType="gReply">
		insert into g_reply
		values(seq_g_reply.nextval, #{user_id}, #{nickname}, #{g_ref}, #{reply_content}, null, default, default, default)
	</insert>
	
	<select id="getReplyCount" parameterType="integer" resultType="_int">
		select count(*)
		from g_reply
		where g_ref = #{ g_ref } and reply_status = 'N'
		order by g_reply_id desc
	</select>
	
	<update id="updateReply" parameterType="map">
		update g_reply
		set reply_content = #{r_content}
		where g_reply_id = #{r_id}
	</update>
	
	<update id="deleteReply" parameterType="integer">
		update g_reply
		set reply_status='Y', g_ref=null
		where g_reply_id = #{r_id}
	</update>
	
	<update id="updateGesipan" parameterType="Gesipan">
		update gesipan
		<choose>
			<when test="!locked.equals('N')">
				set locked=#{locked}, g_pwd=#{g_pwd}, g_title = #{g_title}, g_category = #{g_category},g_content=#{g_content}
			</when>
			<when test="locked.equals('N')">
				set locked=#{locked}, g_pwd=null, g_title = #{g_title}, g_category = #{g_category},g_content=#{g_content}
			</when>
		</choose>
		where g_id=#{g_id}
	</update>
	
	<update id="deleteGesipan" parameterType="_int">
		update gesipan
		set g_status='Y'
		where g_id = #{g_id}
	</update>

</mapper>
