<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gesipanMapper">

	<insert id="insertGesipan" parameterType="Gesipan">
		insert into Gesipan
		values(seq_gesipan.nextval, #{g_category}, #{g_title}, #{g_content}, #{g_writer}, #{g_count}, default, default, null, default, #{locked})
	</insert>
	
	<select id="selectCListCount" resultType="_int">
		select count(*)
		from gesipan
		where g_status='N' and g_category='Community'
	</select>
	
	<select id="selectSListCount" resultType="_int">
		select count(*)
		from gesipan
		where g_status='N' and g_category='Selling'
	</select>
	
	<select id="selectQListCount" resultType="_int">
		select count(*)
		from gesipan
		where g_status='N' and g_category='QNA'
	</select>
	
	<select id="selectCommunityList" resultType="Gesipan">
		select g.*, m.nickname
		from gesipan g
		join member m on (g.g_writer = m.user_id)
		where g_status='N' and g_category = 'Community'
		order by g_id desc
	</select>
	
	<select id="selectSellingList" resultType="Gesipan">
		select g.*, m.nickname
		from gesipan g
		join member m on (g.g_writer = m.user_id)
		where g_status='N' and g_category = 'Selling'
		order by g_id desc
	</select>
	
	<select id="selectQnaList" resultType="Gesipan">
		select g.*, m.nickname
		from gesipan g
		join member m on (g.g_writer = m.user_id)
		where g_status='N' and g_category = 'QNA'
		order by g_id desc
	</select>
</mapper>
