<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

   <!-- 암호화 후 로그인  -->
   <select id="selectOne" parameterType="Member" resultType="Member"
      resultMap="memberResultSet">
      
		select *
		from member
		where user_id=#{user_id} and 
        status = 'N'
   </select>
   
   <resultMap type="Member" id="memberResultSet">
      <id property="user_id" column="USER_ID"/>
      <result property="rank_code" column="RANK_CODE"/>
      <result property="user_pwd" column="USER_PWD"/>
      <result property="nickName" column="NICKNAME"/>
      <result property="user_name" column="USER_NAME"/>
      <result property="phone" column="PHONE"/>
      <result property="user_residentNumber" column="USER_RESIDENTNUMBER"/>
      <result property="user_email" column="USER_EMAIL"/>
      <result property="address" column="ADDRESS"/>
      <result property="enroll_date" column="ENROLL_DATE"/>
      <result property="update_date" column="UPDATE_DATE"/>
      <result property="bookmark" column="BOOKMARK"/>
      <result property="status" column="STATUS"/>
      <result property="penalty_point" column="PENALTY_POINT"/>
      <result property="panalty_date" column="PENALTY_DATE"/>
      <result property="penalty_stack" column="PENALTY_STACK"/>
      
   </resultMap>

   <insert id="insertMember" parameterType="Member">
      insert into member
      values(#{user_id}, default,#{user_pwd}, #{nickName},#{user_name},
            #{phone},#{user_residentNumber},#{user_email}, #{address},
                sysdate,sysdate,default,default,default,sysdate,default)
   </insert>

   <select id="idCheck" parameterType="string" resultType="_int">
      select count(*)
      from member
      where user_id=#{user_id}
   </select>


   <!-- 아이디 찾기 -->  
   <select id="searchId" parameterType="String" resultType="String">
      select user_id 
        from member 
         where user_name= #{user_name}
          and phone= #{phone}
   </select>


   <!-- <select id="getPw" parameterType="java.util.Map" resultType="java.lang.String">
      select user_pwd
       from Member
        where user_id = #{user_id}
           and user_email = #{user_email}
   </select> -->

	<update id="updateMember" parameterType="Member">
		update member 
		set nickname = #{nickName}, phone=#{phone}, user_email=#{user_email}, address=#{address}
		where user_id=#{user_id}
	</update>

	<update id="updatePwd" parameterType="Member">
		update member
		set user_pwd = #{user_pwd}
		where user_id=#{user_id}
	</update>
	
	<update id="deleteMember" parameterType="Member">
		update member
		set status='Y'
		where user_id=#{user_id}
	</update>

	<select id="getMyPostListCount" parameterType="map" resultType="_int">
		select count(*)
		from gesipan 
		where g_writer = #{user_id}
		and g_category = #{category}
		and g_status='N'
	</select>
	
	<select id="selectMyPost" parameterType="map" resultType="Gesipan">
		select g.*, m.nickname
		from gesipan g
		join member m on(g.g_writer = m.user_id)
		where g_writer = #{user_id} and g_category = #{category} and g_status='N'
		order by g_type desc, g_ref desc, g_order asc
	</select>

	<!-- 비밀번호 변경 -->
	<update id="update_pw" parameterType="_int">
		update member 
			set user_pwd = #{user_pwd} 
			where user_id = #{user_id}
				and user_email = #{user_email}
	</update>

























</mapper>