<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">


	<insert id="insertPay" parameterType="Payment">
	insert into payment
	values(p_NO_SEQ.nextval,#{p_ID},#{p_NICKNAME},#{p_ADDRESS},#{p_PHONE},#{p_EMAIL},sysdate,sysdate,default,#{MONEY},#{MEMO},#{gp_ID})
	</insert>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from payment
		where P_STATUS='Y'		
	</select>
	
	<select id="selectPaymentList" resultType="Payment">
		select *
		from payment
		order by P_NO desc
	</select>
	
<!-- 	<update id="deletePayment" parameterType="Payment">
		update payment set p_status='N', p_update_date=sysdate
		where p_ID=#{p_ID} and p_NO=#{p_NO}
	</update> -->
	<update id="deletePayment" parameterType="string">
		update payment set p_status='N', p_update_date=sysdate
		<trim prefix="where" prefixOverrides="and|or">
			p_NO in
			<foreach collection="array" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</trim>	
			<foreach collection="array" item="item" index="index"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</trim>
	</update>
	
	<select id="selectSearchListCount" resultType="_int" parameterType="map">
		select count(*)
		from payment
		<choose>
			<when test="searchfor.equals('p_ID')">
				where  p_id like '%' || #{keyword} || '%'
			</when>
			<when test="searchfor.equals('p_NICKNAME')">
				where p_nickname like '%' || #{keyword} || '%'
			</when>
			<when test="searchfor.equals('p_STATUS')">
				where P_STATUS='N'
			</when>
		</choose>
		order by p_no desc
	</select>
	
	<select id="selectSearchList" resultType="Payment" parameterType="map">
		select * from payment
		<choose>
			<when test="searchfor.equals('p_ID')">
				where p_id like '%' || #{keyword} || '%'
			</when>
			<when test="searchfor.equals('p_NICKNAME')">
				where p_nickname like '%' || #{keyword} || '%'
			</when>
			<when test="searchfor.equals('p_STATUS')">
				where p_status='N'
			</when>
		</choose>
		order by p_no desc
	</select>
	
	
</mapper>
