<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="payMapper">


	<insert id="insertPay" parameterType="Payment">
	insert into payment
	values(p_NO_SEQ.nextval,#{p_ID},#{p_NICKNAME},#{p_ADDRESS},#{p_PHONE},#{p_EMAIL},sysdate,sysdate,default,#{MONEY},#{MEMO},#{gp_ID})
	</insert>
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from payment
		where P_STATUS='Y'
	</select>
	
	<select id="selectPaymentList" resultType="Payment">
		select *
		from payment
		where P_STATUS='Y'
		order by P_NO desc
	</select>
	
	
	
	
</mapper>
