@charset "UTF-8";


* {
	font-family: 'Noto Sans KR', sans-serif;
	/* font-family: 'Gothic A1', sans-serif; */
}

a:hover, a:active, a:focus {
	color: #d5758a;
	outline: none;
	text-decoration: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
}

.ebFooter {
	bottom: 0;
	width: 100%;
	height: 100px;
}

.ebHeader {
	height: 80px;
	width: 100%;
}

.ebHeader-bar {
	position: fixed;
	width: 100%;
	height: 80px;
	text-align: center;
	transition: .5s;
	/* overflow: hidden; */
	background: white;
	z-index: 100;
	border-bottom: .5px solid whitesmoke;
}

.scroll .ebHeader-bar {
	height: 40px;
	transition: .5s;
}

.scroll2 .ebHeader-bar {
	height: 0px;
	transition: .5s;
}

.scroll #hLogo {
	height: 38px;
	width: 38px;
	transition: .5s;
	margin: 1px 0 0 2px;
}

#hNav {
	list-style: none;
	display: table-cell;
	vertical-align: middle;
}

#hNav a {
	width: 100%;
}

#hNav>li {
	float: left;
	margin-right: 10px;
	color: white;
	min-width: 60px;
	font-size: 15px;
	/* cursor: pointer; */
}

#navTag {
	display: table;
	position: relative;
	float: right;
	height: 100%;
}

#hLogo {
	cursor: pointer;
	float: left;
	width: 70px;
	height: 70px;
	background: gray;
	margin: 4px 0 0 4px;
	transition: .1s;
}

#hLogo img {
	background: white;
	height: 100%;
}

.catalog {
	z-index: 99;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 60px;
	background: white;
	margin: auto;
	position: relative; /* 
	border-bottom: 1px solid #D98396; */
}

.catalog ul {
	padding: 0;
}

.catalog div {
	text-align: center;
	display: inline-block;
	border-bottom: whitesmoke;
}

.catalog-tap {
	float: left;
	width: 200px;
	height: 35px;
	/* border: .1px solid black; */
	margin: 15px 2px 0 0;
}

.catalog-tap>ul li {
	display: inline-block;
	width: 200px;
	height: 30px;
	margin: 4px 0 0 0;
	margin:1px;
}

.catalogTag {
	z-index: 10;
	margin-top: -5px;
	overflow: hidden;
	width: 100%;
	height: 0px;
	transition: .3s;
	background: white;
	border-radius:10px;
	padding:10px;
}

.catalogTag {
	list-style:none;
	display:flex;
	justify-content:space-between;
}
.catalogTag li {
	margin:1px !important;
	display:inline !important;
	height:90px !important;
	font-size:10px;
}
.catalogTag li:hover {
	cursor:pointer;
}

.catalog-tap:hover {
	/* background: #F2D7C6; */
	cursor:pointer;
	border-bottom: 2px solid whitesmoke;
}

.catalog-tap a:hover {
	color:black !important;
	font-weight:bold;
	transition:.5s;
}

.catalog-tap.on .catalogTag {
	transition: .5s;
	/* border: .1px solid black; */
	border-top: 5px;
	padding:10px;
	width:200px;
	height: 50px;
}

@media ( max-width : 980px) {
}

.nav_sub {
	/* position: relative; */
	z-index: 0;
}

.nav_sub>div {
	height: 0px;
	overflow: hidden;
	width: 75px;
	background: white;
	transition: 1s;
}

.nav_sub.on {
	transition: 1s;
	background: white;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.nav_sub.on>div {
	height: auto;
}

#test {
	padding: 0;
	border: 0.5px solid whitesmoke;
}

#test a {
	font-size: 13px;
}

/* span:after, span:before {
	background: #D98396 !important;
} */