@charset "UTF-8";

::selection {
	background-color: lightgray;
}

.mypageCategory {
	float: left;
	width: 150px;
	padding: 10px;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


ul.tabs {
	margin: auto;
	padding: 0px;
	list-style: none;
	text-align: center;
}

ul.tabs li {
	width: 32.5% !important;
	/* background: #fdf8f4; */
	/* color: #222; */
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	/* margin:0px; */
	/* border-top-left-radius: 15px;
	border-top-right-radius: 15px;*/
}

.ui-widget-header{
	background: none !important;
	border: 0 !important;
	font-weight: normal !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0 !important;
    background: #e0bbb6 !important;
    font-weight: normal;
    color: #ffffff;
}

.ui-widget.ui-widget-content {
    border: 0 !important;
}

.ui-widget-content {
	background: none !important;
}

ul.tabs li.current {
	/* background: #e0bbb6;
	color: #000040; */
}

ul.my-tabs {
	/* padding: 20px;
	margin-left: 25px important; */
	margin-top: 40px; 
	padding: 0;
}

ul li.my-tab {
	width: 180px;
	height: 60px;
	text-align: center;
	/* margin: 10px; */
	line-height: 4em;
	padding-right: 30px;
	padding-left: 30px;
	
}

/* .col-md-10 col-md-offset-1.mypage {padding:0 !important;padding-left:0px !important;} */

ul.my-tabs li.my-tab :hover {
	border-bottom: 1px solid lightgray !important;
	transition: 0.1s;
}

.tab-content {
	display: none;
	height: 90% !important;
	background: white !important;
	padding: 15px !important;
	margin: 0 !important;
	border: 0 !important;
	/* border: 1px solid #E0BBB6 !important; */
}

.contact-wrap {background: white !important;}

.tab-content.current {
	display: inherit;
}

.page-container {
	float: right;
}

ul.my-tabs a:hover, a:active, a:focus {
	color: grey !important;
	outline: none;
	text-decoration: none;
}

.no-drag {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.contact-wrap {
	background: white !important;
	margin-top : 40px !important;
}

@media ( max-width :900px) {
	* {
		font-size: 12px;
	}
	.btn {
		font-size: 10px;
	}
}

.displaynone {
	display: none;
}

.content-table {
	width: 100%;
	border: 0;
}

.content-table td, .content-table th {
	border: 0;
}

.content-table tbody td {
	border-bottom: 1px solid whitesmoke;
	height: 35px;
}

.row.content {
	padding: 20px;
	height: 850px;
	background: white;
}

tbody tr td {
	font-size: 12px !important;
}

.my-panel {
	background: whitesmoke;
	width: 100%;
	/* height: 1050px; */
	/* display:flex; */
}

/* .my-panel.gesipan {background: white !important;} */

.panel-title a {
	color: black !important;
	font-size: 13px !important;
}

#qnaBody td {
	padding: 5px;
	border-bottom: 1px solid whitesmoke;
}

.pagination li a {
	padding: 10px 10px !important;
}

/* select {
	border: whitesmoke;
} */

#searchText {
	border: 0;
	height: 22px;
}

#titlespan, #titlespan1 {
	font-size: 20px;
}

#titlespan:hover {
	font-weight: bold;
	cursor: pointer;
}

.row.table {
	width: 100%;
	height: 80%;
	margin: auto;
	padding: 10px !important;
	border-bottom: 1px solid whitesmoke;
}

.row.reply {
	width: 100%;
	overflow: scroll;
	margin: auto;
	height: 20%;
	padding: 10px !important;
	background: #faf0eb;
}

.row.reply::-webkit-scrollbar {
	display: none;
}

.subject:hover {
	cursor: pointer;
	font-weight: bold;
}

#userLi {
	line-height: 2em;
}

.subject:hover {
	cursor: pointer;
	font-weight: bold;
}

#searchText {
	width: 200px;
	height: 25px;
	border: whitesmoke;
}

.rWrap {
	visibility: hidden;
}

.my-tabs1 {
	padding-top: 10px;
	list-style: none;
}

.my-tabs1 li {
	display: inline;
}

.btn {
	font-size: 12px !important;
}


.navbar {
	margin-bottom: 0px !important;
	min-height: 0px !important;
}

.nav>li>a {
	position: relative;
	display: inline-block;
	padding: 5px 10px !important;
}

.dropdown-item {
	cursor: pointer;
}

#searchText {
	width: 200px;
	height: 25px;
	border: 2px solid whitesmoke !important;
}

.my-tabs li.active{background: white !important; font-weight: bold;}

.form-control.sidebar.colorlib-form-2 {background: white !important; border: 2px solid whitesmoke !important; height: 45px;}

li.tab-link {
	opacity : 0.9;
}
li.tab-link:hover {
	opacity: 1.0;
	transition: 0.5s;
}

li.tab-link.current:hover {
	opacity: 1.0;
	transition: 0s;
}