@charset "UTF-8";


::selection {
	background-color: lightgray;
}

.mypageCategory {
	float: left;
	width: 150px;
	padding: 10px;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

ul.tabs li.current {
	background: #E0BBB6;
	color: #222;
	
}

ul.my-tabs {
	padding: 10px; !important;
}
ul li.my-tab {
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 10px;
}

ul.my-tabs li.my-tab :hover{
	border-bottom: 1px solid lightgray !important;
	transition: 0.1s;
}

.tab-content {
	display: none;
	height: 90% !important;
	background: white !important;
	padding: 15px !important;
	margin: 0 !important;
	border: 0 !important;
	border: 1px solid #E0BBB6 !important;
}

.tab-content.current {
	display: inherit;
}

.page-container {
	float: right;
}


ul.my-tabs a:hover, a:active, a:focus {
    color: grey !important;
    outline: none;
    text-decoration: none;
}

.no-drag {
	-ms-user-select: none; 
	-moz-user-select: -moz-none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	user-select:none;
}

.contact-wrap {
	background: ;	
}

@media (max-width:900px){
	* {
		font-size: 12px;
	}
	.btn {
		font-size: 10px;
	}
}

.displaynone {display:none;}
.content-table {width:100%; border:0;}
.content-table td, .content-table th {border:0;}
.content-table tbody td {border-bottom:1px solid whitesmoke; height:40px;}
.row.content {padding:10px; height: 850px; background:white;}
tbody tr td {
	font-size: 12px !important;
}
.contact-wrap {/* height: 1200px; */}
.my-panel {background:whitesmoke; width:100%; height:1300px; margin:auto;}
.panel-title a {
	color: black !important;
	font-size: 13px !important;
}
#qnaBody td {
	padding: 5px;
	border-bottom: 1px solid whitesmoke;
}
.pagination li a {
	padding: 10px 10px !important;
}
select {
	border: whitesmoke;
}

#searchText {border:0; height:22px;}
#titlespan{font-size:20px;}